body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(237, 240, 243);
    padding-top: 70px;
}
header {
   background-color: #222;
  color: rgb(247, 235, 4);
  padding: 10px 20px;   /* use fixed padding instead of auto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;  
}


nav a{
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
  color: rgb(242, 79, 9);
}

#user-display {
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: rgb(247, 235, 4);
  width: 100%;
  margin-top: 40px;
}


.content {
  text-align: center;
  padding-top: 240px;
  padding-bottom: 50px;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
  display: flex;
   flex-direction: column;
  align-items: center;
}

.btn {
  display:block;
  margin-top: 30px;
  background-color: white;
  color: #e52e71;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.highlights {
  background: rgb(246, 206, 5);
  padding: 30px;
  margin: 60px auto;
  width: 80%;
  text-align: center;
  border-radius: 12px;
}

.highlights h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.highlights ul {
  list-style: none;
}

.highlights ul li {
  font-size: 18px;
  padding: 8px 0;
}
button{
  background-color: #6774d8;
  border: none;
  color: aliceblue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.product{
  background : lightblue;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}
.product img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 24px;
  justify-content: center;
  padding: 40px 20px;
  margin-top: 80px;
}
.products-page {
  min-height: 100vh;
  padding-top: 110px; 
  padding-bottom: 60px;
}


.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 30px;
  justify-content: center; 
}


.product-card {
  background: rgb(215, 0, 158);
  border-radius: 14px;
  padding: 20px;
  text-align: center;
}


.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}


.product-card button {
  background: #ff006a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

